/* Markforged theme CSS */
/*
*, *:before, *:after {
  -webkit-font-smoothing: subpixel-antialiased;
}*/

body {
  display: flex;
  flex-flow: column;
  padding-top: 55px;
}

body > img {
  display: none !important;
}

body a, body .ui-widget-content a {
  color: #2fb5e9;
}
body a:hover, body .ui-widget-content a:hover {
  color: #32bff6;
}

.header-wrapper-primary {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #0d0d0f;
  color: rgba(242, 242, 242, 0.7);
}

.header-wrapper-secondary {
  border-bottom: 1px solid #e4e4e4;
  background: #efefef;
  color: #222;
}

.header {
  position: relative;
  width: 100%;
  min-height: auto;
  max-width: 1650px;
  margin: 0 auto;
  border-bottom: 0;
  padding: 0 20px;
  line-height: 1;
  letter-spacing: 0.01em;
  font-size: 13px;
  font-family: aktiv-grotesk, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

.header.header-primary {
  height: 55px;

}

.header.header-secondary {
  height: 45px;
}

.header > * {
  display: block;
  float: left;
  height: 100%;
}

.header .header-menu-button {
  float: right;
}

.header .branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}

.header img.logo {
  width: 120px;
  height: auto;
  margin: auto;
}

.header .header-menu {
  display: flex;

  justify-content: flex-start;
  align-items: center;
}

.header .header-menu a {
  margin: auto;
  padding: 0 20px;
  color: inherit;
  text-decoration: none;
}
.header .header-menu a:hover {
  color: #fff;
}

.header.header-secondary .header-menu a:hover {
  color: #ee453d;
}

.header .header-menu.header-menu-right {
  float: right;
}

.header .header-menu.header-menu-right > * {
  padding: 0 0 0 40px;
}
.header .header-menu.header-menu-right a.nav-cta {
  padding: 7px 12px;
  margin-left: 30px;
  background: #2fb5e9;
  border-radius: 30px;
  line-height: 15px;
  transition: all 200ms;
  color: #fff;
  letter-spacing: 0;
}
.header .header-menu.header-menu-right a.nav-cta:hover {
  background: #32bff6;
}

.header.fancybar .header-menu.header-menu-right > * {
  padding: 0 0 0 25px;
}

.header.header-secondary .header-menu.header-menu-right > * {
  padding: 0 0 0 20px;
}

.header.header-secondary .header-menu > *:first-child {
  padding-left: 0;
}

/*** Nav menu button ***/

.header-menu-button {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: right;
  height: 100%;
  padding: 0;
  color: #fff;
  font-size: 24px;
  user-select: none;
  cursor: pointer;

  -webkit-tap-highlight-color: #000;

}

.header-dropdown-wrapper.collapsed {
  height: 0;
}

.header-dropdown-wrapper {
  display: block;
  position: absolute;
  left: 0;
  top: 55px;
  z-index: 1000;
  width: 100%;
  height: 356px;
  overflow: hidden;
  transition: height 400ms;
}

.header-dropdown-menu {
  height: 100%;
  display: block;
  background-color: #1a1b1f;
}

.header-dropdown-menu a {
  display: block;
  height: 51px;
  margin: 0 25px;
  padding: 0;
  line-height: 50px;
  border: none;
  border-bottom: 1px solid rgba(68,68,68,.5);
  background-color: transparent;
  color: #f1f1f1;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
}

.header-dropdown-menu a:hover {
  color: #f1f1f1;
}

.header-dropdown-menu a:last-child {
  border-bottom: none;
}

.header.fancybar {
  background: rgba(18, 19, 22, .91);
  color: #cecece;
  position: fixed;
  z-index: -5000;
  top: 0;
  height: 0;
  letter-spacing: normal;
  line-height: 1.4;
}

/*** Main content ***/

body strong {
  letter-spacing: inherit;
}

#container #main-container {
  padding-top: 0;
  min-height: 100px;
}

.woocommerce ul.products li.product h4 {
  margin: 0 0 4px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
}

/*** Footer ***/

.footer-container {
  margin-top: auto;
  padding: 0;
  border: none;

  background: #0d0d0f;
  line-height: 18px;
  color: #ccc;
  font-family: aktiv-grotesk, sans-serif;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.footer-container .container {
  height: auto;
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 50px 60px;
}

.footer-container .category-columns {
  margin: 40px 0 30px;
}

.footer-container .footer-columns {
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
}

.footer-container ul {
  display: block;
  margin: 0;
  padding: 0;
}

.footer-container ul ul {
  margin-bottom: 10px;
}

.footer-container ul li {
  display: block;
  margin: 0;
  padding: 0;

  list-style-type: none;

  -webkit-font-smoothing: auto;
}

.footer-container h5 {
  display: block;
  margin: 0 0 10px 0;
  line-height: 21px;
  color: #f0f0f0;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;

  -webkit-font-smoothing: subpixel-antialiased;
}

.footer-container ul ul li {
  padding: 1px 0;
}
.footer-container ul ul li a {
  display: inline;
  color: inherit;
  padding: 1px 0;
}

.footer-container a:hover {
  color: #fff !important;
}

.footer-container .footer-rail {
  padding: 0;
  margin: 0;
  align-items: center;
  -webkit-box-align: center;
  -webkit-font-smoothing: auto;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.footer-bottom a {
  color: inherit;
  margin-left: 25px;

}

.footer-container .footer-logo {
  display: block;
  height: 25px;
  width: auto;
}

.footer-container .social-rail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container .social-rail li {
  margin: 0 0 0 25px;
}
.footer-container .social-rail a img {
  display: block;
  height: 25px;
  opacity: 0.75;
  transition: opacity 200ms;
}
.footer-container .social-rail a img:hover {
  opacity: 1;
}

/*** Woostuff ***/

.woocommerce .woo-product-container {
  padding-top: 22px;
}

.woocommerce .product-legal-notice {
  margin-top: 15px;
  line-height: 1.9;
  font-size: 12px;
  color: #808080;
}

.woocommerce ul.products li.product-category .product-cat-info h3 {
  padding: 11px 0;
}

.woocommerce .review-order-wrap {
  padding-top: 35px;
  padding-bottom: 0;
}

.woocommerce .woocommerce-checkout-payment {
  padding-bottom: 35px !important;
}

.woocommerce input.input-checkbox {
  margin-right: 14px !important;
}

.woocommerce .wc-proceed-to-checkout a.checkout-button.button,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce .woocommerce input.button,
.woocommerce .modal-body input.button {
  height: 36px !important;
  padding: 0;
  line-height: 36px !important;
  border-radius: 0px !important;
  background: #2fb5e9 !important;
  color: #fff !important;
  font-size: 14px !important;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: normal !important;
  text-transform: none;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

.woocommerce .wc-proceed-to-checkout a.checkout-button.button:hover,
.woocommerce input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce .woocommerce input.button:hover,
.woocommerce .modal-body input.button:hover {
  background: #32bff6 !important;
  color: #fff !important;
}

.woocommerce input.button,
.woocommerce .modal-body input.button {
  padding: 0 15px !important;
}

.woocommerce .woocommerce-info a:hover {
  border-bottom-color: #ee453d !important;
  color: #004d9b !important;
}

.woocommerce input[name='rememberme'] {
 margin: 4px 5px 4px 6px;
}

.woocommerce .select2-container a {
  background-color: #f7f7f7;
  border-color: #e4e4e4;
  height: 40px;
  line-height: 40px;
  border-radius: 0;
}

.woocommerce .select2-drop,
.woocommerce .select2-search,
.woocommerce .select2-results {
  background-color: #f7f7f7;
  border-color: #e4e4e4;
}

.woocommerce-account label[for="billing_country"],
.woocommerce-account label[for="shipping_country"] {
  float: none !important;
}

.woocommerce .select2-container.select2-dropdown-open a.select2-choice,
.woocommerce .select2-dropdown-open.select2-drop-above a.select2-choice {
  border-color: #e4e4e4;
  border-radius: 3px;
  box-shadow: none;
}

.woocommerce .select2-drop.select2-drop-active {
  margin-top: 0;
  border-color: #e4e4e4;
}

.woocommerce .select2-search input.select2-input {
  margin: 6px 0 0 0;
  width: 100%;
}

.woocommerce label abbr[title] {
  text-decoration: none;
}

.woocommerce .wc-pao-subtotal-line{
  display:none;
}

/*** Temporary hidden links ***/

.woocommerce .help-bar ul li:first-child,
.woocommerce .help-bar ul li:last-child {
  /* Yes this is awful */
  display: none;
}

/*** Random tablestuff ***/

.mf-shop-table td {
  padding-right: 20px;
}

/*** Profile tabs ***/

.woocommerce-account .page-content .tab-content h2 {
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  border-bottom: 0;
}

.woocommerce-account .page-content .tab-content p.myaccount_address {
  padding: 12px 0;
  line-height: 2;
  border-width: 1px 0 !important;
  border-style: solid none !important;
  border-color: #e4e4e4 !important;
}

/*** CSS from header.php style tag ***/

.case-study-specs table {
  border: 1px solid rgb(200, 200, 200);
  line-height: 1.5em;
}
.case-study-specs td:not(:first-of-type) {
  border-left: 1px solid rgb(200, 200, 200);
}
.case-study-specs tr:not(:first-of-type) td {
  border-top: 1px solid rgb(200, 200, 200);
}
.case-study-specs tr:first-of-type td {
  font-weight: 700;
}
.case-study-specs td:first-of-type {
  font-weight: 700;
}
a.case-study-download {
  padding: 4px 15px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #282828;
  margin-top: 15px;
  text-decoration: none;
  font-size: 14px;
  opacity: 1;
}
a.case-study-download:hover {
  opacity: 0.75;
}
.banner.jamison {
  background: url(https://markforged.com/static/images/Jamison-1-1600.jpg) no-repeat center center/ cover;
}
.cs-image.jamison-2 {
  background: url(https://markforged.com/static/images/Frame-500.jpg) no-repeat center center/ cover;
}
.cs-image.jamison-1 {
  background: url(https://markforged.com/static/images/Awards-500.jpg) no-repeat center center/ cover;
}
.banner .banner-image.mark-one {
  background: url(https://markforged.com/static/images/mark-two-white-rescaled.jpg) no-repeat 0% 50%/ cover;;
}

.product-short {
  font-family: aktiv-grotesk, sans-serif;
}
.product-short strong, .product-short b {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 600 !important;
}
.product-short i, .product-short em {
  font-family: aktiv-grotesk, sans-serif;
  font-style: italic !important;
}

/*** Whatever ***/

.show-768 {
  display: none !important;
}

.show-992 {
  display: none !important;
}

.lift-gate label, .lift-gate input[type="radio"] {
  width: auto !important;
  float: none !important;
  display: inline !important;
}
.lift-gate input[type="radio"] {
  margin: 0 0.5em 0 1em !important;
}

body.woocommerce p.checkout-box label.checkbox {
  width: 100% !important;
  margin-left: 25%;
}

body.woocommerce p.checkout-box label.checkbox input[type="checkbox"] {
  width: auto !important;
  display: inline !important;
  float: none !important;
}

.shipping-address-type label, .shipping-address-type input[type="radio"] {
  width: auto !important;
  float: none !important;
  display: inline !important;
}
/*.shipping-address-type label:first-child {
  display: inline-block !important;
  width: 25% !important;
}*/
.shipping-address-type input[type="radio"] {
  margin: 0 0.5em 0 1em !important;
}

#customer_pickup_confirm_field {
  display: none;
}

#customer_pickup_confirm {
  margin: 6px;
}

.menu-resources-container ul.menu {
/*  border-bottom: 1px solid rgba(0,0,0,0.1);*/
  margin: 0;
  font-family: aktiv-grotesk, sans-serif;
  letter-spacing: 0.01em;
}
.menu-resources-container ul.menu:after {
  content: "";
  display: table;
  clear: both;
}
.menu-resources-container ul.menu li {
  display: block;
  float: left;
  margin: 0 40px 0 0;
  font-size: 13px;
  line-height: 44px;
}
.menu-resources-container ul.menu li a {
  color: inherit;
  -webkit-font-smoothing: subpixel-antialiased;
}
.menu-resources-container ul.menu li a:hover {
  color: #ee453d;
}

.address-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: -10px;
}
.address-tile {
  min-width: 250px;
  width: 33.333%;
  flex-shrink: 1;
  padding: 10px;
}

.tos-box {
  max-height: 240px;
  overflow-y: scroll;
  padding: 0 1em;
  border: 1px solid #bbb3b9;
}

#mu_tos_field > p {
  margin-bottom: 16px;
}

#mu_tos_field label.checkbox {
  margin-top: 8px !important;
}

.tos-box p, .tos-box ul {
  margin: 1em 0 !important;
}

.tos-box ul li {
  margin: 0.5em 0 !important;
}


/* Customer Account shipper styling */
#use_my_shipper_row td{
  max-width:185px;
  text-align: left;
}

#use_my_shipper_row input,
#use_my_shipper_row textarea,
#use_my_shipper_row select {
  max-width: 100% !important;
  width: 200px;
}

.woocommerce-cart #use_my_shipper{
  display: none !important;
}
