@media screen and (max-width: 991px) {
  .header-menu-button {
    display: flex;
  }

  .header-wrapper-primary {
    position: absolute;
    top: -55px;
  }

  .footer-container .container {
    padding: 40px 40px 60px;
  }

  .footer-container .category-columns {
    margin: 30px 0 20px;
  }

  .woocommerce .wc-proceed-to-checkout a.checkout-button.button,
  .woocommerce .wc-proceed-to-checkout a.checkout-button.button:hover {
    font-size: 11px;
  }

  .show-992 {
    display: block !important;
  }

  .hide-992 {
    display: none !important;
  }

}

@media screen and (max-width: 768px) {
  .woocommerce .wc-proceed-to-checkout a.checkout-button.button,
  .woocommerce .wc-proceed-to-checkout a.checkout-button.button:hover {
    font-size: 14px;
  }

  .footer-container .container {
    padding: 40px 30px 30px;
  }

  .footer-container .category-columns {
    margin: 30px 0 10px;
  }

 .footer-container .footer-columns.category-columns {
    flex-wrap: wrap;
  }

  .footer-container .footer-columns.category-columns > ul {
    margin-bottom: 10px;
    width: 33.33%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .footer-rail .social-rail li {
    margin-left: 20px;
  }

  .footer-container .footer-rail.footer-bottom {
    flex-wrap: wrap;
    margin-bottom: -5px;
  }
  .footer-bottom .footer-text {
    width: 100%;
  }
  .footer-bottom a {
    display: block;
    margin: 10px 25px 10px 0;
  }

  .show-768 {
    display: block !important;
  }
  .hide-768 {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
 .hide-600 {
  display: none;
 }

}

@media screen and (max-width: 480px) {

  .footer-container .container {
    padding: 30px 20px 20px;
  }

  .footer-rail .social-rail li {
    margin-left: 15px;
  }

  .footer-rail .social-rail li img {
    height: 20px;
  }

  .footer-container .footer-columns.category-columns > ul {
    margin-bottom: 10px;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
  }

 .hide-480 {
  display: none;
 }

 .footer-bottom {
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.05em;
 }

}
